html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  transition: background-color 0.3s ease;
}

body.light-theme {
  background-color: #f5f5f5;
  color: #333;
}

body.dark-theme {
  background-color: #1e1e1e;
  color: #e1e1e1;
}

#root {
  height: 100%;
}
